.about-container {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
    background: 
    url(/docs/apple.jpg) center no-repeat;
    background-size: cover;
    overflow: hidden;
   position: relative;

    

    .social-media-about {
        
        ul {
            
            margin: 5% auto;
            
            
        }
    }
    
}

.my-picture {

    img {
        width: 300px;
        height: 300px;
        border: solid 2px rgba($color: #fff, $alpha: 0.5);
        border-radius: 50%;
        align-items: center;
        position: absolute;
        top: 0;
        bottom: 20%;
        left: 0;
        right: 0;
        margin: auto; 
    }



    }

       .about-text {
    
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        font-family: 'Roboto', sans-serif;
        margin: 10% 5% 10% 5%;
        
       
        h1,
        h2,
        h3,
        h4 {
            
            font-size: 20px;
        }
        
    }

        .introduction,
        .technical-skills,
        .soft-skills,
        .interests
         {
            padding: 3% 2% 5% 2%;
            
        }

        .portfolio {
            display: flex;
        }

        


  

   



@media screen and (max-width: 800px) {

    .about-container {
        .logo {

            .job-title {
                font-size: 0.8em;
            }
        }

    .my-picture {

    img {
        width: 200px;
        height: 200px;
       
      
     }
     }
    }
    .about-text{
display: grid;
        grid-template-columns: 25% 25% 25% 25%;
    }
}