
.banner{
  
    width: 100%;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

    h1{
        font-size: 2rem;
        margin-bottom: 5px;  
        color: #000;
        animation-name: moveToLeft;
        animation-duration: 2s;
    }

    span {
        font-weight: 1000;
        color: #eb8934;
    }

    p {
        font-size: 1rem;
        font-weight: 600;
        animation-name: moveToRight;
        animation-duration: 2s;
    }

    


}