.blog-container {
    background:linear-gradient(rgba(216, 212, 204, 0.014), rgba(53, 35, 3, 0.281));
    background-size: auto;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    
}

.blogs {

    font-family: 'Roboto', sans-serif;
    margin: 10% 20% 0 20%;
    padding-bottom: 5%;
    position: absolute;

    h1{
        text-align: center;
    }

    p {
        padding-bottom: 5%;
    }
}

.social-media-blog
 ul {
        position: absolute; 
        top: 90%;
        left: 45%;
        padding: 0;
        margin: 0;
        transform: translate(-50%, -50%);
        display: flex;
        animation-name: socialMedia;
        animation-duration: 2s;
        animation-delay: 3s;
        
        

        li {

            list-style: none;
            margin: 0 40px;

            .fa {
                font-size: 25px;
                line-height: 50px;
                transition: .6s;
                color: #000;

                :hover{
                    color: #fff;
                }
            }

            a {
                position: absolute;
                display: block;
                width: 50px;
                height: 50px;
                border-radius: 50%;
                background-color: #fff;
                text-align:center;
                transition: .6s;
                box-shadow: 0 5px 4px rgba(0, 0, 0, .5);

                :hover{
                    transform: translate(0, -10px);
                }

            }

           
        }
    }

    @media screen and (max-width: 800px) {

        .blogs {
           margin: 30% 2% 0 2%;
        }
    }