.contact-container {

    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background:linear-gradient(rgba(216, 212, 204, 0.014), rgba(53, 35, 3, 0.281)),
    url(/docs/contact.jpg) center no-repeat;
    background-size: cover;
    overflow: hidden;
    position: relative;


}



 .contact-text {
        margin: 20% 10%;
        text-align: center;
        

        p {
            font-size: 25px;
            font-family: 'Roboto', sans-serif;
            
        }

        .fa,
         a {
            font-size: 20px;
            margin-top: 5%;
            text-decoration: none;
            color: #000;}

    
        }  

        .social-media-contact {


        ul{

        top: 60%;

        }
    }

    @media screen and (max-width: 767px) {

        .contact-text {
        margin: 50% 10%;
        text-align: center;
        

        .fa,
         a {
            font-size: 20px;
            margin-top: 15%;
            text-decoration: none;
            color: #000;}

    
        }  

        .logo {
            .job-title {
                font-size: 0.8em;
            }
        }
    }