@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import 'welcome';
@import 'header';
@import 'media';
@import 'animations';
@import 'banner';

* {
   box-sizing: border-box;
   margin: 0; 
   padding: 0;
   font-family: "Dosis", sans-serif;
}


.main-container {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(rgba(80, 82, 53, 0.5), rgba(47, 80, 72, 0.6)),   
    url(/docs/apple.jpg) center no-repeat;
    background-size: cover;
    opacity: .5;
    
}