@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import 'welcome';
@import 'header';
@import 'media';
@import 'animations';
@import 'banner';
@import 'social';
@import 'about';
@import 'resume';

* {
   box-sizing: border-box;
   margin: 0; 
   padding: 0;
   font-family: "Dosis", sans-serif;
}


.main-container {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
    background:linear-gradient(rgba(246, 247, 238, 0.5), rgba(55, 56, 56, 0.6)),  
    url(/docs/laptop.jpg) center no-repeat;
    background-size: cover;
    overflow: hidden;
    position: relative;
}
    

